  html,body{
    max-width:100%;
    overflow-x: hidden;
  }

            .box{
                text-align:center;
                background-color: #393E46;
                color:#C69749;
                padding-top:1%;

            }
            i{
              font-size: 40px;
              color:#C69749;
            }
            a{
                font-size: 20px;
                color:#C69749;
              }
            .iconas{
              color:red;
            }
            .icon2{
              padding-top:6%;
              font-weight:bold;
            }
    
/*template color*/

.box-heading{
    background-color: #1B2430;
    color:#C69749;
}

.main-box{
    background-color: #1b1c1f;
}
