{% extends "general_templates.html" %}
{% block title%} user login page {% endblock %}
{% block body %} 

        <div class="col-sm-12 heading-banner" >
            <div class="row ">
                <div class="col-sm-3 heading-banner" >
                    <h3> Name will appear here</h3>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6" style="background-color: blue;">
                                <h2>
                                    Profile pic will appear here 
        
                                       </h2>
                                </div>
                                <hr/>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <br/>

                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10" style="background-color: blue;">
                                <h4>
                                    user profile setting
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    
                        <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10" style="background-color: blue;">
                                <h4>
                                    user profile setting
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10" style="background-color: blue;">
                                <h4>
                                    user profile setting
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10" style="background-color: blue;">
                                <h4>
                                    user profile setting
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10" style="background-color: blue;">
                                <h4>
                                    user profile setting
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                </div>
                                <div class="col-sm-9" style="background-color: black;">
                                    <h1> Stats will Appear here </h1>  
                                    <div class="col-sm-12" >
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-3" style="background-color: blue;">
                                                <h2>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit 
                                                </h2>
                                            </div>
                                            <div class="col-sm-3" style="background-color: navy;">
                                                <h2>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit 
                                                </h2>
                                            </div>
                                            <div class="col-sm-3" style="background-color: green;">
                                                <h2>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit 
                                                </h2>
                                            </div>
                                            <div class="col-sm-2"></div>
                                        </div>
                                    </div>    
                                    <br/>
                                <!-- your books section -->
                               
                                    <div class="col-sm-12"> 
                                        
                                        <div class="row">  
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10" style="background-color:teal;">
                                            <div class="col-sm-12" style="background-color:aqua;"> <h3> your book shelf   </h3></div>
                                            <div class="col-sm-12" style="background-color:aqua;"> <h5> Lorem ipsum dolor sit amet 
                                                consectetur adipisicing elit.el 
                                                similique! Porro explicabo quisquam beatae? Commodi, quaerat ipsa? </h5></div>
                                            </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    </div>
                                    <!-- your book section-->
<br/>
                                     <!-- your uploaded books  -->
                               
                                     <div class="col-sm-12"> 
                                        
                                        <div class="row">  
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10" style="background-color:teal;">
                                            <div class="col-sm-12" style="background-color:aqua;"> <h3> your book shelf   </h3></div>
                                            <div class="col-sm-12" style="background-color:aqua;"> <h5> Lorem ipsum dolor sit amet 
                                                consectetur adipisicing elit.el 
                                                similique! Porro explicabo quisquam beatae? Commodi, quaerat ipsa? </h5></div>
                                            </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    </div>
                                    <!-- your book section-->
                                    <br/>
                                 <!-- your books for selling/donation section -->
                               
                                 <div class="col-sm-12"> 
                                        
                                    <div class="row">  
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10" style="background-color:teal;">
                                        <div class="col-sm-12" style="background-color:aqua;"> <h3> your book shelf   </h3></div>
                                        <div class="col-sm-12" style="background-color:aqua;"> <h5> Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit.el 
                                            similique! Porro explicabo quisquam beatae? Commodi, quaerat ipsa? </h5></div>
                                        </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                </div>
                                <!-- your book section-->
                                </div>

            </div>
           
        </div>
        {% endblock %}