{% extends "admin_panel_template.html" %}
{% block body %}
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5 text-center box-heading ">
      <h3><b> Registered User</b> </h3>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<br/>
    <table class="table box-heading"">
        <thead class="thead" >
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
      
{% endblock %}