{% extends "general_templates.html" %}
{% block title %} Contact us{% endblock %}
{% block body %}
<div class="col-sm-12">
  <!-- corousal -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{{url_for('static',filename='about.jpg')}}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <!-- corousal ends here -->
  <h1 class="text-center heading-banner">About Us</h1>
 
  
  <!--blocks -->
  <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 text-center heading-banner">
          <h3><b style="color:white;"> Who are we</b> </h3>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <br/>
  <!-- end block-->

  <!-- employee section -->
 <div class="col-sm-12" style="margin-left:-3%">
      <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 about_boxes_main" style="color:white">
                  <div class="text-center">
                        <img src="{{url_for('static',filename='arsalan.jpg')}}" class="rounded-circle" alt="...">
                        <h3 class="text-center about_boxes_text "> Arsalan Gouhar</h3>
                        <h4 class="text-center about_boxes_text"> Back-End Develop</h4>
                        <p class="text-center about_boxes_text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas eveniet, harum dolore voluptatem asperiores enim iste at sequi voluptatum repellat sed incidunt quisquam nisi, ad vitae nulla pariatur quibusdam!</p>
                        <h5 class="about_boxes_text"> email id</h5>
                        <h5 class="about_boxes_text"> phone number</h5>
                  </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 about_boxes_main">
                  <div class="text-center">
                        <img src="{{url_for('static',filename='akhilesh.jpg')}}" class="rounded-circle" alt="...">
                        <h3 class="text-center about_boxes_text"> Akhilesh Yadav</h3>
                        <h4 class="text-center about_boxes_text"> Front-End Developer</h4>
                        <p class="text-center about_boxes_text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas eveniet, harum dolore voluptatem asperiores enim iste at sequi voluptatum repellat sed incidunt quisquam nisi, ad vitae nulla pariatur quibusdam!</p>
                        <h5 class="about_boxes_text"> email id</h5>
                        <h5 class="text-center about_boxes_text"> phone number</h5>
                  </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 about_boxes_main">
                  <div class="text-center">
                        <img src="{{url_for('static',filename='rahul.jpg')}}" class="rounded-circle" alt="...">
                        <h3 class="text-center about_boxes_text"> Rahul Kumar</h3>
                        <h4 class="text-center about_boxes_text"> Documentation</h4>
                        <p class="text-center about_boxes_text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas eveniet, harum dolore voluptatem asperiores enim iste at sequi voluptatum repellat sed incidunt quisquam nisi, ad vitae nulla pariatur quibusdam!</p>
                        <h5 class="about_boxes_text"> email id</h5>
                        <h5 class="about_boxes_text"> phone number</h5>
                  </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 about_boxes_main">
                  <div class="text-center">
                        <img src="{{url_for('static',filename='abhinav.jpg')}}" class="rounded-circle" alt="...">
                        <h3 class="text-center about_boxes_text"> Abhinav Srivastava</h3>
                        <h4 class="text-center about_boxes_text"> Database Manager</h4>
                        <p class="text-center about_boxes_text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas eveniet, harum dolore voluptatem asperiores enim iste at sequi voluptatum repellat sed incidunt quisquam nisi, ad vitae nulla pariatur quibusdam!</p>
                        <h5 class="about_boxes_text"> email id</h5>
                        <h5 class="about_boxes_text"> phone number</h5>
                  </div>
            </div>

           
            
      </div>

 </div>
 <br/>
 <div class="container">
      <div class="row">
            <div class="col-sm-2"></div>
           
            <div class="col-sm-2"></div>
          
           
            
      </div>

 </div>
 <br/>
 <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 text-center heading-banner" >
          <h3><b> What are we do</b> </h3>
        </div>
        <h4>
            The name Casa Del Libro [book house]  was taken from a well-known bookstore in Spain that provided free book rentals to students.
            Our project, Casa Del Libro [Book Store], is a website that draws inspiration from a well-known bookshop in Spain as well as the Android app Moon+Reader. We attempt to synthesize various concepts into one and create an innovation.
            
            
            People will be able to read the book and take notes on the website. Anyone can readily access it for nothing at all.
            
            The project's primary goal is to create a book management application.
            a large selection of books
            has a text-highlighting option available.
            has a bot option for reading
            The issue we had during COVID-19 inspired the creation of this website. We had to take college courses online, which was great fun, but we also couldn't go to college for the books because they are the only other reliable source after professors. Reading any book or subject notes on a computer is really difficult, especially for people who wear spectacles. People like us had to zoom the words and then zoom out to go to the next sentence, which is another problem that we face when reading books on the computer. I mean, yes, we can study from youtube channels, but without studying the book or notes it is tough to learn or understand the concepts.
            The incremental model was employed to create Casa del Libro.
            Software development using the incremental model divides requirements into numerous independent software development cycle modules. Each module in this model undergoes the phases of requirements, design, implementation, and testing. Every new version of the module adds a new feature to the previous version. Up till the full system is achieved, the process is continued.
            
            Here are a few bullet points that sum up how we organized our work: First, we formed a group, from which we then chose a project.
            The project's architecture was developed after it was chosen.
            divided the project into sections, after which it was resourced.
            the project design was created.
            We will code after producing the design, and then
            
        </h4>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <br/>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 text-center heading-banner">
          <h3><b > What actually it is?</b> </h3>
          <br/>
        </div>
        <h4>The name Casa Del Libro [book house]  was taken from a well-known bookstore in Spain that provided free book rentals to students.
            Our project, Casa Del Libro [Book Store], is a website that draws inspiration from a well-known bookshop in Spain as well as the Android app Moon+Reader. We attempt to synthesize various concepts into one and create an innovation.
            
            
            People will be able to read the book and take notes on the website. Anyone can readily access it for nothing at all.
            
            The project's primary goal is to create a book management application.
            a large selection of books
            has a text-highlighting option available.
            has a bot option for reading
            The issue we had during COVID-19 inspired the creation of this website. We had to take college courses online, which was great fun, but we also couldn't go to college for the books because they are the only other reliable source after professors. Reading any book or subject notes on a computer is really difficult, especially for people who wear spectacles. People like us had to zoom the words and then zoom out to go to the next sentence, which is another problem that we face when reading books on the computer. I mean, yes, we can study from youtube channels, but without studying the book or notes it is tough to learn or understand the concepts.
            The incremental model was employed to create Casa del Libro.
            Software development using the incremental model divides requirements into numerous independent software development cycle modules. Each module in this model undergoes the phases of requirements, design, implementation, and testing. Every new version of the module adds a new feature to the previous version. Up till the full system is achieved, the process is continued.
            
            Here are a few bullet points that sum up how we organized our work: First, we formed a group, from which we then chose a project.
            The project's architecture was developed after it was chosen.
            divided the project into sections, after which it was resourced.
            the project design was created.
            We will code after producing the design, and then
            
            </h4>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <br/>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 text-center heading-banner">
          <h3><b"> Mission and Vision</b> </h3>
        </div>
        <h4> 
            The name Casa Del Libro [book house]  was taken from a well-known bookstore in Spain that provided free book rentals to students.
            Our project, Casa Del Libro [Book Store], is a website that draws inspiration from a well-known bookshop in Spain as well as the Android app Moon+Reader. We attempt to synthesize various concepts into one and create an innovation.
            
            
            People will be able to read the book and take notes on the website. Anyone can readily access it for nothing at all.
            
            The project's primary goal is to create a book management application.
            a large selection of books
            has a text-highlighting option available.
            has a bot option for reading
            The issue we had during COVID-19 inspired the creation of this website. We had to take college courses online, which was great fun, but we also couldn't go to college for the books because they are the only other reliable source after professors. Reading any book or subject notes on a computer is really difficult, especially for people who wear spectacles. People like us had to zoom the words and then zoom out to go to the next sentence, which is another problem that we face when reading books on the computer. I mean, yes, we can study from youtube channels, but without studying the book or notes it is tough to learn or understand the concepts.
            The incremental model was employed to create Casa del Libro.
            Software development using the incremental model divides requirements into numerous independent software development cycle modules. Each module in this model undergoes the phases of requirements, design, implementation, and testing. Every new version of the module adds a new feature to the previous version. Up till the full system is achieved, the process is continued.
            
            Here are a few bullet points that sum up how we organized our work: First, we formed a group, from which we then chose a project.
            The project's architecture was developed after it was chosen.
            divided the project into sections, after which it was resourced.
            the project design was created.
            We will code after producing the design, and then
            
        </h4>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <br/>

{% endblock %}