{% extends "general_templates.html" %}
{% block title %} book category {% endblock %}

{% block body %}
<br/> <br/>
<div class="col-sm-12">
    <img src="{{url_for('static', filename='t.png')}}" alt="...">    
</div>

<div class="col-sm-12 ">
    <h1 class="heading-banner text-center"> Book category</h1>
</div>
<div class="container ">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>
</div>
<br/>
<div class="col-sm-12 text-center">
    <h1>some books will appear</h1> 
</div>
<div class="col-sm-12 text-center">
    <h1>if no books were found frm the category then this page will cover</h1> 
</div>

{% endblock %}
