{% extends "general_templates.html" %}
{% block body %}
<br/>
<div class="col-sm-12">
    <div class="row"> 
<div class="col-sm-3"> </div>
<div class="col-sm-6 heading-banner text-center">
    <h1> Book information</h1>
</div>
<div class="col-sm-3"></div>
</div>
</div>
<br/>

<br/>
<div class="col-sm-12">
    <div class="row"> 
        <div class="col-sm-1"></div>
<div class="col-sm-3 heading-banner">
    <img  src="{{ res[9] }}"/>
</div>
<div class="col-sm-1"></div>
<div class="col-sm-6">
    <div class="col-sm-12 ">
        <h2 class="heading-banner" >{{ res[1] }}</h2>
    </div>
    <div class="col-sm-12 ">
        <h4 class="heading-banner" >by: {{ res[2] }}</h4>
    </div>
    <div class="col-sm-12 ">
        <h4 class="heading-banner" > Rating</h4>
    </div>
    <div class="col-sm-12 ">
        <h4 class="heading-banner" >category : {{ res[3] }}</h4>
    </div>
    <div class="col-sm-12 ">
        <h2 class="heading-banner" > price of the book will appear here</h2>
    </div>
    <div class="container ">
        <div class="row"> 
           
        <div class="col-sm-5 heading-banner" > is it avilable in donation section</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 heading-banner">is it avilable in second hand books section</div>
    </div>
    </div>
<br/>
    <div class="col-sm-12 ">
        <p class="heading-banner" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ea voluptas dolore expedita repudiandae necessitatibus, minima, magni nemo error enim natus facere dolor autem debitis beatae eveniet perspiciatis perferendis! Nemo?</p>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-1"> </div>
            <div class="col-sm-5 text-center"><button type="button" class="btn btn-success">Success</button></div>
            <div class="col-sm-5 text-center"><button type="button" class="btn btn-success">Success</button></div>
            <div class="col-sm-1"></div>
            
        </div>
    </div>
</div>
<div class="col-sm-1"></div>
</div>
</div> 
<!-- book images and description section ends here -->
<br/>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 heading-banner">
            <div class="text-center">
                <img src="{{url_for('static',filename='amazon.jpg')}}" class="rounded-circle" alt="...">
                <h3 class="text-center about_boxes_text "> Amazon</h3>
                <h4 class="text-center about_boxes_text"> name of book</h4>
                <p class="text-center about_boxes_text"> price</p>
                <h5 class="about_boxes_text"> Company name[publisher] name</h5>
                <h5 class="about_boxes_text"> description</h5>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 heading-banner">
            <div class="text-center">
                <img src="{{url_for('static',filename='flipkart.png')}}" class="rounded-circle" alt="...">
                <h3 class="text-center about_boxes_text "> flipkart</h3>
                <h4 class="text-center about_boxes_text"> Book name</h4>
                <p class="text-center about_boxes_text"> price</p>
                <h5 class="about_boxes_text"> publisher name</h5>
                <h5 class="about_boxes_text"> description</h5>
          </div>
        </div>

    </div>
</div>
<br/>
{% endblock %}