{% extends "general_templates.html" %}
{% block title%} user login page {% endblock %}
{% block body %} 
<br/>
        <div class="col-sm-12 " >
            <div class="row ">
                <div class="col-sm-3 heading-banner text-center " >
                    <h3 class="container-fluid boxes"> {{ log[1] }}</h3>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6 boxes" >
                                <h2>profile will appear here 
        
                                       </h2>
                                </div>
                                <hr/>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <br/>

                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 boxes">
                                <h4>
                                Profile Settings
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    
                        <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 boxes">
                                <h4>
                                    Your Books
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 boxes">
                                <h4>
                                    user profile setting
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 boxes">
                                <h4>
                                    Read your books
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 boxes">
                                <h4>
                                    Manage books
                                </h4>
                                </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <br/>
                </div>
                                <div class="col-sm-9 text-center" >
                                    <h1 class="heading-banner "> Stats will Appear here </h1>  
                                    <div class="col-sm-10" >
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-3 boxes">
                                                <h2>
                                                    stat1
                                                </h2>
                                            </div>
                                            <div class="col-sm-3 boxes" >
                                                <h2>
                                                   stat2 
                                                </h2>
                                            </div>
                                            <div class="col-sm-3 boxes">
                                                <h2>
                                                stat3 
                                                </h2>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </div>    
                                    <br/>
                                <!-- your books section -->
                               
                                    <div class="col-sm-12"> 
                                        
                                        <div class="row">  
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10 " >
                                            <div class="col-sm-12 boxes "> <h3> Your Details   </h3></div>
                                            <div class="col-sm-12 boxes"> 
                                                <p>
                                                   <b> Your Name :</b> {{ log[1]}} <br/>
                                                   <b> Your Email :</b> {{ log[2]}}<br/>
                                                   <b> Your Password :</b> {{ log[3]}} <br/>
                                                </p>
                                            </div>
                                            </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    </div>
                                    <!-- your book section-->
                                     <!-- your uploaded books  -->
                               
                                     <div class="col-sm-12"> 
                                        
                                        <div class="row">  
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                  <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                      Read your books
                                                    </button>
                                                  </h2>
                                                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                      <input type="file" placeholder="click here to upload your book" class="btn-dark"/>
                                                      <input type="submit" name="click me"/>
                                                    </div>
                                                  </div>
                                                </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    </div>
                                    <!-- your book section-->
                                    <br/>
                                 <!-- your books for selling/donation section -->
                               <br/>
                                 <div class="col-sm-12"> 
                                        
                                    <div class="row">  
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10 ">
                                        <div class="col-sm-12 boxes"> <h3> your book shelf   </h3></div>
                                        <div class="col-sm-12 boxes"> <h5> Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit.el 
                                            similique! Porro explicabo quisquam beatae? Commodi, quaerat ipsa? </h5></div>
                                        </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                </div>
                                <!-- your book section-->
                                </div>

            </div>
           
        </div>
        <br/>
        {% endblock %}