{% extends "admin_panel_template.html" %}

{% block body %}
 <!--    <h2> 
  {% with messages = get_flashed_messages() %}  
  {% if messages %}  
        {% for message in messages %}  
             
             <div class="alert alert-success" role="alert">
              <p>{{ message }}</p>  
            </div>
        {% endfor %}  
  {% endif %}  
{% endwith %}  
</h2>
-->
<div class="col-sm-12 box-heading">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5  text-center">
      <h3><b></b> Contact Us Data</b> </h3>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<br/>
    <table class="table box-heading">
        <thead class="thead" >
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col"> image</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[4 ]}} </td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
      
{% endblock %}